{% extends "layout.html.twig" %}

{% block title 'Game over, you failed!' %}

{% block body %}

    <h2>Game Over!</h2>

    <p>
        Oops, you're hanged... The word to guess was <strong>{{ word }}</strong>.
    </p>

{% endblock %}
