{% extends "layout.html.twig" %}

{% block title 'Congratulations, you won the game!' %}

{% block body %}

    <h2>Congratulations!</h2>

    <p>
        You found the word <strong>{{ word }}</strong> and won this game.
    </p>

{% endblock %}
