{% extends "layout.html.twig" %}

{% block title 'Signup' %}
    
{% form_theme registration_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    <h2>Free registration</h2>

    {{ form(registration_form) }}
    
{% endblock %}
